<div class="wrapper-comp-settings editor-with-buttons is-active" id="settings-tab">
    <ul class="list-input settings-list">
        
         <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_display_name">Display Name</label>
                <input class="input setting-input" id="videojs_edit_display_name" value="{{ display_name }}" type="text">
            </div>
            <span class="tip setting-help">This name appears in the horizontal navigation at the top of the page.</span>
        </li>
        
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_url">Video URL</label>
                <input class="input setting-input" id="videojs_edit_url" value="{{ url }}" type="text">
            </div>
            <span class="tip setting-help">The URL for your video.</span>
        </li>
        
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_allow_download">Video Download Allowed</label>
                <select class="input setting-input" id="videojs_edit_allow_download">
                    <option value="True" {% if allow_download %}selected{% endif %}>True</option>
                    <option value="False" {% if not allow_download %}selected{% endif %}>False</option>
                </select>
            </div>
            <span class="tip setting-help">Allow students to download this video.</span>
        </li>
        
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_source_text">Source document button text</label>
                <input class="input setting-input" id="videojs_edit_source_text" value="{{ source_text }}" type="text" placeholder="Default : Download the source document">
            </div>
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_source_url">Source document URL</label>
                <input class="input setting-input" id="videojs_edit_source_url" value="{{ source_url }}" type="text">
            </div>
            <span class="tip setting-help">Add a download link for the source file of your video. Use it for example to provide the PowerPoint or PDF file used for this video.</span>
        </li>
        
        <li class="field comp-setting-entry is-set">
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_start_time">Start time</label>
                <input class="input setting-input" id="videojs_edit_start_time" value="{{ start_time }}" type="text">
            </div>
            <div class="wrapper-comp-setting">
                <label class="label setting-label" for="videojs_edit_end_time">End time</label>
                <input class="input setting-input" id="videojs_edit_end_time" value="{{ end_time }}" type="text">
            </div>
            <span class="tip setting-help">The start and end time of your video. Equivalent to 'video.mp4#t=startTime,endTime' in the url.</span>
        </li>
        
    </ul>
    
    <div class="xblock-actions">
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary action-save">Save</a>
            </li>
            <li class="action-item">
                <a href="#" class="button action-cancel">Cancel</a>
            </li>
        </ul>
    </div>
</div>


